# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# ._ files created by apple double files exfat ssd
._*

#mac files
.DS_Store
.Trashes
.AppleDouble
.LSOverride
